

section{
    width: 100%;
  
}

#banner img{
    width: 100%;
    height: 100%;
}

 #banner .contenedor{
    position: absolute;
    top: 20%;
    left: 15%;
    
    color: aliceblue;
}
#banner h2{
    font-size: 28px;
}
#banner a{
    width: 100px;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 60px;
    border: 3px solid #fff;
}






.leermas{
    background-color: $colorpaleta3;
    color:$color2 ;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 140px;
    border-radius: 10px;
    padding: 16px 24px;
}
.leermas:hover{
    background-color:$colorpaleta4;
    color: $color2;
}

.blog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
article{
    margin: 15px;
}
.imagenblog{
    
        width: 300px;
        height: 300px;
      
        border-radius: 80%;
       
}

