
body{
    margin: 0;
}

 #btn-menu{
     
     
   display: none;
 }
 header label{
     display: none;
     width: 30px;
     height: 30px;
     padding: 10px;
     & header label:hover{
         cursor: pointer;
         background-color: $colorpaleta2;
     }
 }
 header {
     position: fixed;
     background-color: $colorpaleta1;
     width: 100%;
     z-index: 1000;
    
 }
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    &li:hover{
        background-color: $colorpaleta2;
    }
}
 li a{
     display: block;
     padding: 15px 20px;
     color: #fff;
     text-decoration: none;
    
     }
 .icon-dog{
     float: right;
     color: #fff;
     padding: 0 20px 0 0;

 }




