/*index.html*/
.text-banner{
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translate(-50%,-50%);
    color: $color2;

}
.bienvenidos{
    padding: 30px;
    text-align: center;

}

.circulo{
    margin: 15px;
    text-align: center;
}

/*adopcion.html*/

.titulo-adopcion{
    padding: 50px;
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
} 

/* clientes*/
h4{
    text-align: center;
    margin: 20px;
}
h3{
    margin: 40px;
}