/* colores*/
$color1: rgb(30, 131, 171);
$color2: #fff;
$color3: rgb(79, 79, 181);
$colorbarra: #333;
$color4: black;
$colorboton: rgb(128, 207, 128);
$colorboton2: rgb(41, 161, 41);
$colorpaleta1: #8FBDD3;
$colorpaleta2: #E4D1B9;
$colorpaleta3: #BE8C63;
$colorpaleta4: #885034;
$colori1: pink;
$colori2:  rgb(141, 102, 51);
$colori3: skyblue;

/*letras*/

$cursiva:'Square Peg', cursive;


/*alturas y anchos*/

$anchoimagen: 400px;