.nombremenu {
  color: #fff;
  float: left;
}

header {
  position: fixed;
  background-color: #333;
  width: 100%;
  height: 50px;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 100;
}

.contenedor {
  width: 98%;
  margin: auto;
}

menu {
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  height: 50px;
  width: 100px;
  top: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 30px 30px 0 0;
  float: right;
}

a:hover {
  text-decoration: none;
  color: #4f4fb5;
  background-color: black;
}

.banner {
  margin-top: 50px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.imagenfondo {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  position: absolute;
  top: 20%;
  left: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.leermas {
  background-color: #80cf80;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 140px;
  border-radius: 8px;
  padding: 16px 24px;
}

.leermas:hover {
  background-color: #29a129;
  color: #fff;
}

.bienvenidos {
  padding: 30px;
  text-align: center;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article {
  margin: 15px;
}

.imagenblog {
  width: 300px;
  height: 300px;
  border-radius: 20%;
}

h4 {
  margin: 15px;
  text-align: center;
}

.galeria-portafolio .imagengaleria {
  display: inline-block;
}

.galeria-portafolio .imagengaleria .imagen1 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen2 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen3 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen4 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen5 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen6 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen7 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen8 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.galeria-portafolio .imagengaleria .imagen9 {
  padding: 20px;
  width: 400px;
  height: 300px;
  -webkit-transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, -webkit-transform 2s;
  transition: height 1s, width 2s, transform 2s;
  transition: height 1s, width 2s, transform 2s, -webkit-transform 2s;
}

.imagen1:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: purple;
}

.imagen2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: black;
}

.imagen3:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: pink;
}

.imagen4:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: skyblue;
}

.imagen5:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: red;
}

.imagen6:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: green;
}

.imagen7:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: pink;
}

.imagen8:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: blue;
}

.imagen9:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #4dec0e;
}

footer {
  background-color: #333;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titulo {
  text-align: center;
  font-family: sans-serif;
}

.carta {
  display: inline-block;
}

.carta .cliente1 {
  width: 200px;
  height: 200px;
}

.carta .cliente2 {
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=main.css.map */